.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  border-top: none;
  border-bottom: 2px solid #4682B4;
}

.site-header a {
  color: $header-color;
  font-size: $h3;
  font-weight: $header-font-weight;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  padding-top: $nav-padding;
}

.site-header nav a.nav-link {
  color: $nav-color;
  font-size: $h5;
  text-decoration: none;
}

.site-header nav a.nav-link + a.nav-link {
  margin-left: $nav-link-padding-x;
}

.site-header nav a.nav-link:hover,
.site-header nav a.nav-link:focus,
.site-header nav a.nav-link:active {
  color: $nav-link-color;
  opacity: 1;
  border-bottom: $nav-link-border-bottom;
}

.site-header nav a.nav-link.nav-active {
  color: $nav-link-color;
  border-bottom: $nav-link-border-bottom;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: right;
}
